*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
tr:nth-child(even) {background: #e3e3e3ad}
tr:nth-child(odd) {background: #ffffffe1}

body {
	background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #B70000 0%, #FF003D 74.04%), linear-gradient(341.1deg, #FF0000 7.52%, #0038FF 77.98%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;
background-repeat: no-repeat;
background-attachment: fixed;
}

.navbar {
	/*Controlling the list items*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 3%;
	background:rgba(0, 0, 0, 0.936);
	border-radius: 2px;
}

.logo {
	cursor: pointer;
	margin-right: auto;
	color: rgb(255, 255, 255);
	font-size: 42px;
	font-weight: bolder;
}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	font-size: 28px;
	padding: 0px 5px;
}

.links li a {
	color: rgb(255, 255, 255);
	transition: all 0.3s ease 0s;
}

.links li a:hover {
	transition: all 0.3s ease 0s;
	color: aquamarine;
}

.profile {
	padding-left: 44px;
	cursor: pointer;
    font-size: 22px;
	justify-content: right;
	color: rgb(255, 255, 255);
	position: relative;
    display: inline-block;
}

  table {
	border-collapse: separate;
	border-spacing: 0;
	width: 95vw;
	color: #000000;
	font-family: monospace;
	font-size: 14px;
	text-align: left;
	margin: 5px auto;
	margin-top: 50px;
	border-radius: .25em .25em .4em .4em;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.487);
  }
  th {
	background: rgba(0, 0, 0, 0.936);
	color: rgb(255, 248, 248);
  }
  th, td {
	padding: 15px;
  }
i{
	font-size: large;
}

.logout-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.logout-btn .fa-arrow-right-from-bracket {
    transition: color 0.5s ease;
    color: white;

}

.logout-btn:hover .fa-arrow-right-from-bracket {
    color: rgb(255, 0, 0);
}

@media only screen and (max-width: 600px) {
.navbar {
        flex-direction: column;
    }

    .logo {
        font-size: 32px;
    }

    .links li {
        font-size: 20px;
    }
    .icons {
        font-size: 20px;
    }

    table {
        width: 90vw;
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    i {
        font-size: medium;
    }
}
